body {
  font-size: 10px;
}


.navbar {
  color: white;
  display: flex;
  flex-wrap:wrap;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 1.5rem;
}

.navbar_author {
  font-size: 2.1rem;
}

.navbar_list {
  display: flex;
  width: 70%;
  font-size: 1.2rem;
  justify-content: space-between;
  list-style: none;
}

.menuicon {
  display: none;
}

.profilepic {
  border: none;
  border-radius: 50%;
  margin: 2rem auto;
  width:70%;
  max-width: 250px;
  height: auto;
  max-height: 250px;
}



@media (max-width: 700px) {
    .navbar{
        flex-wrap: wrap;
    }

    .navbar_list {
        display: none;
    }

    .menuicon {
        display: block;
        font-size: 1.4rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }
    .navbar_list.mobile {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        margin-top: 2rem;
    }
    .navbar_link.mobile {
        padding: 1rem;
    }
    .navbar_link.mobile:hover {
        background: #616161;
    }

    /* .profilepic {
      width: 10rem;
      height: 10rem;
    } */
}